
Lab0/PreProcessing/.ipynb_checkpoints/CleaningAADT-checkpoint.ipynb
Lab0/PreProcessing/.ipynb_checkpoints/DefineBoundary-checkpoint.ipynb
Final_Project/Prospectus/LaTeX/Prospectus.aux
Final_Project/Prospectus/LaTeX/Prospectus.log
Final_Project/Prospectus/LaTeX/Prospectus.synctex.gz
Final_Project/Prospectus/LaTeX/Prospectus.bbl
Final_Project/Prospectus/LaTeX/Prospectus.bcf
Final_Project/Prospectus/LaTeX/Prospectus.blg
Final_Project/Prospectus/LaTeX/Prospectus.out
Final_Project/Prospectus/LaTeX/Prospectus.run.xml
Final_Project/Data_IO/.ipynb_checkpoints/1_Define_Extent-checkpoint.ipynb
Final_Project/Data_IO/.ipynb_checkpoints/2_Wrangle_AADT-checkpoint.ipynb
Final_Project/Data_IO/.ipynb_checkpoints/3_Wrangle_Emissions-checkpoint.ipynb
Final_Project/Data_IO/.ipynb_checkpoints/Retrieve -checkpoint.ipynb
Final_Project/Data_IO/PointSourceAirEmissionsInventory/MPCA_PointSourceEmissionInventory.xlsx
Final_Project/Data_IO/PointSourceAirEmissionsInventory/Read_me.docx
Lab01/.ipynb_checkpoints/Lab01-checkpoint.ipynb
Lab01/Results/roads_w_ctus.geojson
Lab01/Results/schools_w_roads.geojson
Lab01/Results/stations_w_pools.geojson
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.cpg
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.dbf
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.prj
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.sbn
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.sbx
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.shp
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.shp.xml
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.cpg
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.shx
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.dbf
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.prj
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.sbn
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.sbx
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.shp
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.shp.xml
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.shx
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.cpg
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.dbf
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.prj
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.sbn
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.sbx
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.shp
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.shp.xml
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.shx
Lab01/shp_bdry_census2010counties_ctus/metadata/metadata.html
Lab01/shp_bdry_census2010counties_ctus/metadata/metadata.xml
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.cpg
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.dbf
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.prj
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.sbn
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.sbx
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.shp
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.shp.xml
Lab01/shp_trans_aadt_traffic_segments/metadata/preview.jpg
Lab01/shp_trans_aadt_traffic_segments/metadata/metadata.xml
Lab01/shp_trans_aadt_traffic_segments/metadata/metadata.html
Lab01/shp_trans_aadt_traffic_segments/metadata/Annual Average Daily Traffic Segments in Minnesota.xml
Lab01/shp_trans_aadt_traffic_segments/metadata/Annual Average Daily Traffic Segments in Minnesota.html
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.shx
Final_Project/Data_IO/Data/aadt.geojson
Final_Project/Data_IO/Data/emissions.csv
Final_Project/Data_IO/Data/mpls_boundary.geojson
Final_Project/Data_IO/Data/Read_me.docx
Final_Project/Data_IO/Data/study_extent.geojson
Final_Project/Data_IO/NAN_Emissions_Search_Results.geojson
Lab01/LaTeX/Lab01_Report.aux
Lab01/LaTeX/Lab01_Report.bbl
Lab01/LaTeX/Lab01_Report.bcf
Lab01/LaTeX/Lab01_Report.blg
Lab01/LaTeX/Lab01_Report.log
Lab01/LaTeX/Lab01_Report.synctex.gz
Lab01/LaTeX/Lab01_Report.run.xml
Lab01/LaTeX/Lab01_Report.out
Lab02/.ipynb_checkpoints/Lab02_Part1-checkpoint.ipynb
*.las
Final_Project/Model_Air_Quality/.ipynb_checkpoints/Cummulative_Industry_Impact-checkpoint.ipynb
Final_Project/Model_Air_Quality/.ipynb_checkpoints/Cummulative_Traffic_Impact-checkpoint.ipynb
Final_Project/Model_Air_Quality/.ipynb_checkpoints/Hendrickson_5541_Grad_Project-checkpoint.ipynb
Final_Project/Model_Air_Quality/.ipynb_checkpoints/Scratch-checkpoint.ipynb
Final_Project/Model_Air_Quality/.ipynb_checkpoints/VOC_Interpolation-checkpoint.ipynb
Final_Project/Model_Air_Quality/Hendrickson_5541_Grad_Project.ipynb
*.tif
Final_Project/Model_Air_Quality/VOC_Interpolation.ipynb
Final_Project/Model_Air_Quality/Scratch.ipynb
