
Lab0/PreProcessing/.ipynb_checkpoints/CleaningAADT-checkpoint.ipynb
Lab0/PreProcessing/.ipynb_checkpoints/DefineBoundary-checkpoint.ipynb
Final_Project/Prospectus/LaTeX/Prospectus.aux
Final_Project/Prospectus/LaTeX/Prospectus.log
Final_Project/Prospectus/LaTeX/Prospectus.synctex.gz
Final_Project/Prospectus/LaTeX/Prospectus.bbl
Final_Project/Prospectus/LaTeX/Prospectus.bcf
Final_Project/Prospectus/LaTeX/Prospectus.blg
Final_Project/Prospectus/LaTeX/Prospectus.out
Final_Project/Prospectus/LaTeX/Prospectus.run.xml
Final_Project/Data_IO/.ipynb_checkpoints/1_Define_Extent-checkpoint.ipynb
Final_Project/Data_IO/.ipynb_checkpoints/2_Wrangle_AADT-checkpoint.ipynb
Final_Project/Data_IO/.ipynb_checkpoints/3_Wrangle_Emissions-checkpoint.ipynb
Final_Project/Data_IO/.ipynb_checkpoints/Retrieve -checkpoint.ipynb
Final_Project/Data_IO/PointSourceAirEmissionsInventory/MPCA_PointSourceEmissionInventory.xlsx
Final_Project/Data_IO/PointSourceAirEmissionsInventory/Read_me.docx
Lab01/.ipynb_checkpoints/Lab01-checkpoint.ipynb
Lab01/Results/roads_w_ctus.geojson
Lab01/Results/schools_w_roads.geojson
Lab01/Results/stations_w_pools.geojson
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.cpg
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.dbf
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.prj
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.sbn
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.sbx
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.shp
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.shp.xml
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.cpg
Lab01/shp_bdry_census2010counties_ctus/Census2010Counties.shx
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.dbf
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.prj
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.sbn
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.sbx
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.shp
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.shp.xml
Lab01/shp_bdry_census2010counties_ctus/Census2010CountiesAndCTUs.shx
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.cpg
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.dbf
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.prj
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.sbn
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.sbx
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.shp
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.shp.xml
Lab01/shp_bdry_census2010counties_ctus/Census2010CTUs.shx
Lab01/shp_bdry_census2010counties_ctus/metadata/metadata.html
Lab01/shp_bdry_census2010counties_ctus/metadata/metadata.xml
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.cpg
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.dbf
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.prj
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.sbn
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.sbx
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.shp
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.shp.xml
Lab01/shp_trans_aadt_traffic_segments/metadata/preview.jpg
Lab01/shp_trans_aadt_traffic_segments/metadata/metadata.xml
Lab01/shp_trans_aadt_traffic_segments/metadata/metadata.html
Lab01/shp_trans_aadt_traffic_segments/metadata/Annual Average Daily Traffic Segments in Minnesota.xml
Lab01/shp_trans_aadt_traffic_segments/metadata/Annual Average Daily Traffic Segments in Minnesota.html
Lab01/shp_trans_aadt_traffic_segments/Annual_Average_Daily_Traffic_Segments_in_Minnesota.shx
Final_Project/Data_IO/Data/aadt.geojson
Final_Project/Data_IO/Data/emissions.csv
Final_Project/Data_IO/Data/mpls_boundary.geojson
Final_Project/Data_IO/Data/Read_me.docx
Final_Project/Data_IO/Data/study_extent.geojson
Final_Project/Data_IO/NAN_Emissions_Search_Results.geojson
Lab01/LaTeX/Lab01_Report.aux
Lab01/LaTeX/Lab01_Report.bbl
Lab01/LaTeX/Lab01_Report.bcf
Lab01/LaTeX/Lab01_Report.blg
Lab01/LaTeX/Lab01_Report.log
Lab01/LaTeX/Lab01_Report.synctex.gz
Lab01/LaTeX/Lab01_Report.run.xml
Lab01/LaTeX/Lab01_Report.out
Lab02/.ipynb_checkpoints/Lab02_Part1-checkpoint.ipynb
*.las
Final_Project/Model_Air_Quality/.ipynb_checkpoints/Cummulative_Industry_Impact-checkpoint.ipynb
Final_Project/Model_Air_Quality/.ipynb_checkpoints/Cummulative_Traffic_Impact-checkpoint.ipynb
Final_Project/Model_Air_Quality/.ipynb_checkpoints/Hendrickson_5541_Grad_Project-checkpoint.ipynb
Final_Project/Model_Air_Quality/.ipynb_checkpoints/Scratch-checkpoint.ipynb
Final_Project/Model_Air_Quality/.ipynb_checkpoints/VOC_Interpolation-checkpoint.ipynb
Final_Project/Model_Air_Quality/Hendrickson_5541_Grad_Project.ipynb
*.tif
Final_Project/Model_Air_Quality/VOC_Interpolation.ipynb
Final_Project/Model_Air_Quality/Scratch.ipynb
Final_Project/1_Data_IO/.ipynb_checkpoints/1_Define_Extent-checkpoint.ipynb
Final_Project/1_Data_IO/.ipynb_checkpoints/2_Wrangle_AADT-checkpoint.ipynb
Final_Project/1_Data_IO/.ipynb_checkpoints/3_Wrangle_Emissions-checkpoint.ipynb
Final_Project/1_Data_IO/.ipynb_checkpoints/Retrieve -checkpoint.ipynb
*.geojson
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/Cummulative_Industry_Impact-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/Cummulative_Traffic_Impact-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/Hendrickson_5541_Grad_Project-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/Raster_Template-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/Scratch-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/VOC_Interpolation-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/Scratch.ipynb
Final_Project/2_Model_Air_Exposure/VOC_Interpolation.ipynb
Final_Project/4_Synthesize_Models/.ipynb_checkpoints/Combine_Exposure-checkpoint.ipynb
Lab02/.ipynb_checkpoints/Lab02_Part2-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/template.npy
*.laz
Lab02/Part_2_Tiles/raw_LiDAR_Data_README.rtf
Lab02/Part_2_Tiles/tile_index_map.pdf
Final_Project/1_Data_IO/Data/Read_me.docx
*.xlsx
Final_Project/1_Data_IO/PointSourceAirEmissionsInventory/Read_me.docx
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/1_Raster_Template-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/2_Rasterize_Sources-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/3_Model-Copy1-checkpoint.ipynb
Final_Project/2_Model_Air_Exposure/.ipynb_checkpoints/Cummulative_Emissions-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/.ipynb_checkpoints/1_Raster_Template-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/.ipynb_checkpoints/2_Rasterize_Sources-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/.ipynb_checkpoints/3_Model-Copy1-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/.ipynb_checkpoints/Cummulative_Emissions-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/.ipynb_checkpoints/Cummulative_Traffic_Impact-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/.ipynb_checkpoints/Hendrickson_5541_Grad_Project-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/.ipynb_checkpoints/Scratch-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/.ipynb_checkpoints/VOC_Interpolation-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/Scratch.ipynb
*.npy
Final_Project/2_Model_Pollutant_Exposure/VOC_Interpolation.ipynb
Lab02/Part_1/.ipynb_checkpoints/Lab02_Part1-checkpoint.ipynb
*.lasx
Lab02/Part_2/1_raw_data/LazTiles/tile_index_map.pdf
Lab02/Part_2/1_raw_data/LazTiles/raw_LiDAR_Data_README.rtf
Lab02/Part_2/.ipynb_checkpoints/5_Cost_Surface_Calculation-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/3_Model_Dispersion/.ipynb_checkpoints/Cummulative_Emissions-checkpoint.ipynb
.ipynb_checkpoints/mosaic_fun-checkpoint.ipynb
Lab02/Part_2/.ipynb_checkpoints/1_Download_Data-checkpoint.ipynb
Lab02/Part_2/.ipynb_checkpoints/2_Raster_Template-checkpoint.ipynb
Lab02/Part_2/.ipynb_checkpoints/3_Aggregate_and_Rasterize-checkpoint.ipynb
Lab02/Part_2/.ipynb_checkpoints/4_Standardize-checkpoint.ipynb
Lab02/Part_2/.ipynb_checkpoints/6_Uncertainty_Analysis-checkpoint.ipynb
*.png
mosaic_fun.ipynb
Lab02/Part_2/.ipynb_checkpoints/4_Transform_and_Normalize-checkpoint.ipynb
Lab02/Part_2/LaTeX/figs/WorkFlow.pdf
Lab02/Part_2/LaTeX/Lab02_Part2_Report.aux
*.bcf
*.blg
*.out
Lab02/Part_2/LaTeX/Lab02_Part2_Report.run.xml
Lab02/Part_2/LaTeX/Lab02_Part2_Report.synctex.gz
Lab02/Part_2/LaTeX/Lab02_Part2_Report.log
Lab02/Part_2/LaTeX/Lab02_Part2_Report.bbl
Final_Project/2_Model_Pollutant_Exposure/Hendrickson_5541_Grad_Project.ipynb
Final_Project/1_Data_IO/.ipynb_checkpoints/3_Wrangle_Emissions-Copy1-checkpoint.ipynb
Final_Project/1_Data_IO/.ipynb_checkpoints/4_Wrangle_PurpleAir-checkpoint.ipynb
Final_Project/1_Data_IO/.ipynb_checkpoints/5_Wrangle_HOLC-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/3_Model_Exposure/.ipynb_checkpoints/1_Traffic_Current-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/3_Model_Exposure/.ipynb_checkpoints/2_Emissions_Cumulative-checkpoint.ipynb
Final_Project/2_Model_Pollutant_Exposure/3_Model_Exposure/.ipynb_checkpoints/3_Emissions_Current-checkpoint.ipynb
Final_Project/3_Validate_Models/.ipynb_checkpoints/1_Compare_Predicted_Observed-checkpoint.ipynb
Final_Project/4_Environmental_Hazard_Cost_Surface/.ipynb_checkpoints/1_Combine_Exposure-checkpoint.ipynb
Final_Project/5_Zonal_Statistics/.ipynb_checkpoints/1_HOLC_Zones-checkpoint.ipynb
*.aux
*.bbl
*.log
Final_Project/Final_Write_Up/LaTeX/Final_Draft.run.xml
Final_Project/Final_Write_Up/LaTeX/Final_Draft.synctex.gz
Final_Project/Final_Write_Up/Rob's GIS5571 Peer Review.pdf
Final_Project/Final_Write_Up/First_Draft.pdf
Final_Project/1_Data_IO/.ipynb_checkpoints/Prepping-checkpoint.ipynb
*.csv
Final_Project/1_Data_IO/Prepping.ipynb
Final_Project/3_Environmental_Hazard_Cost_Surface/.ipynb_checkpoints/1_Combine_Exposure-checkpoint.ipynb
Final_Project/3_Environmental_Hazard_Cost_Surface/.ipynb_checkpoints/2_Check_Tests-checkpoint.ipynb
Final_Project/4_Validate_Cost_Surface/.ipynb_checkpoints/1_Interpolate_PurpleAir-checkpoint.ipynb
Final_Project/4_Validate_Cost_Surface/.ipynb_checkpoints/2_Compare_Model_and_PurpleAir-checkpoint.ipynb
Final_Project/4_Validate_Cost_Surface/.ipynb_checkpoints/Full Spatial Regression-checkpoint.ipynb
Final_Project/4_Validate_Cost_Surface/Full Spatial Regression.ipynb
Final_Project/.ipynb_checkpoints/7_Sensitivity Analysis_Prep-checkpoint.py
Final_Project/3_Hazard_Index/.ipynb_checkpoints/1_Combine_Exposure-checkpoint.ipynb
Final_Project/3_Hazard_Index/.ipynb_checkpoints/2_Check_Tests-checkpoint.ipynb
Final_Project/4_Validate_Index_Surface/.ipynb_checkpoints/1_Interpolate_PurpleAir-checkpoint.ipynb
Final_Project/4_Validate_Index_Surface/.ipynb_checkpoints/2_Compare_Model_and_PurpleAir-checkpoint.ipynb
Final_Project/4_Validate_Index_Surface/.ipynb_checkpoints/Full Spatial Regression-checkpoint.ipynb
Final_Project/7_Sensitivity_Analysis/.ipynb_checkpoints/1_Get_Statistics-checkpoint.ipynb
Final_Project/7_Sensitivity_Analysis/.ipynb_checkpoints/2_Sensitivity_Exploration-checkpoint.ipynb
Lab02/Part_2/.ipynb_checkpoints/6_Costpath_Computation-checkpoint.ipynb
Lab02/Part_2/.ipynb_checkpoints/7_Uncertainty_Analysis-checkpoint.ipynb
Lab02/Part_2/.ipynb_checkpoints/7_Uncertainty_Analysis-Copy1-checkpoint.ipynb
*.tfw
*.xml
*.cpg
*.dbf
*.lock
*.ovr
*.json
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.html
Lab02/Part_2/shp_trans_aadt_traffic_segments/metadata/preview.jpg
Lab03/GIS 5571 Lab 3.docx.pdf
Lab03/Part_1/LaTeX/figs/WorkFlow.pdf
Lab02/Part_2/.ipynb_checkpoints/Get_Cost_Paths-checkpoint.py
Lab03/Part_1/LaTeX/Lab03_Part1_Report.synctex.gz
Lab03/Part_1/LaTeX/figs/WorkFlow1.pdf
Lab03/Part_1/LaTeX/figs/WorkFlow2.pdf
Lab03/Part_2/LaTeX/figs/Spline_Month_Min_Temp.pdf
Lab03/Part_2/LaTeX/figs/Spline_Month_Max_Temp.pdf
Lab03/Part_2/LaTeX/figs/Krig_Month_Min_Temp.pdf
Lab03/Part_2/LaTeX/figs/Krig_Month_Max_Temp.pdf
Lab03/Part_2/LaTeX/figs/IDW_Month_Min_Temp.pdf
Lab03/Part_2/LaTeX/figs/IDW_Month_Max_Temp.pdf
Lab03/Part_2/LaTeX/figs/Workflow.pdf
Lab03/Part_2/.ipynb_checkpoints/4_Compare_Interpolations-checkpoint.ipynb
Lab03/Part_2/.ipynb_checkpoints/3_Interpolate-checkpoint.ipynb
Lab03/Part_2/.ipynb_checkpoints/2_Process_Data-checkpoint.ipynb
Lab03/Part_2/.ipynb_checkpoints/1_Request_Data-checkpoint.ipynb
